.App {
  text-align: center;
}

.App-content {
  background-color: #20242c;
  min-height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  padding-bottom: 56px;
  color: #fff;
}

.bottomBar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bottomBar{
	position:fixed;
	bottom:0;
	left:0;	
	box-shadow: 0 -2px 5px -2px #333;
  
}